body {
  padding: 0;
  margin: 0;
  background: #222;
}
.switch {
  width: 195px;
}

.switch button {
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 16px;
  background: #222;
  color: white;
}

.switch button:hover {
  background: #444;
}

.switch button:active {
  background: #333;
}

.on {
  float: left;
}

.off {
  float: right;
}

.control {
  width: 195px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -120px;
  margin-left: -112px;
  background: #111;
  border: 15px solid #111;
}
